.sidebar {
    height: 100vh;
    padding: 16px;
    position: sticky;
    top: 0px;
    left: 0px;
    border-right: 1px solid black;

    .side-nav-items {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .side-nav-item {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 4px;
            border-radius: 4px;
            cursor: pointer;

            mat-icon {
                font-size: 20px;
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #e0e0e0;
            }
        }
    }
}